<div class="navbar">
    <div class="container">
        <div class="wrapper">
            <a routerLink="/home" class="title">
                Matthias van Houtum
            </a>
            <nav class="menu">
                <a routerLink="/home" class="link" routerLinkActive="active">About</a>

                <a routerLink="/video" class="link" routerLinkActive="active">Video</a>
                <a routerLink="/photo" class="link" routerLinkActive="active">Photo</a>
            </nav>
        </div>
    </div>
</div>