<div class="navbar-no-shadow">
    <div class="navbar-no-shadow-container">
        <div class="navbar-wrapper">
            <a href="https://www.matthiasvanhoutum.com/#" class="w-nav-brand">
                <div class="text-block">Matthias van Houtum</div>
            </a>
            <nav class="nav-menu">
                <a href="https://www.matthiasvanhoutum.com/" class="nav-link">About</a>
                <a href="https://www.matthiasvanhoutum.com/Photo" class="nav-link">Photo</a>
                <a href="https://www.matthiasvanhoutum.com/video" class="nav-link">Video</a>

            </nav>
        </div>
    </div>
</div>