<div class="navbar-no-shadow">
    <div data-animation="default" data-collapse="small" data-duration="400" data-easing="ease" data-easing2="ease"
        role="banner" class="navbar-no-shadow-container w-nav">
        <div class="container-regular">
            <div class="navbar-wrapper"><a href="https://www.matthiasvanhoutum.com/#" class="navbar-brand w-nav-brand">
                    <div class="text-block">Matthias van Houtum</div>
                </a>
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                    <ul role="list" class="nav-menu w-list-unstyled">
                        <li><a href="https://www.matthiasvanhoutum.com/Photo" class="nav-link"><strong
                                    class="bold-text-3">Photo</strong></a>
                            <link rel="prerender" href="https://www.matthiasvanhoutum.com/Photo">
                        </li>
                        <li><a href="https://www.matthiasvanhoutum.com/video" class="nav-link"><strong
                                    class="bold-text-4">Video</strong></a></li>
                        <li><a href="https://www.matthiasvanhoutum.com/" aria-current="page"
                                class="nav-link w--current"><strong class="bold-text-5">About</strong></a></li>
                        <li>
                            <div data-delay="0" data-hover="false" class="nav-dropdown w-dropdown">
                                <div class="nav-dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-0"
                                    aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false"
                                    role="button" tabindex="0"></div>
                                <nav class="nav-dropdown-list shadow-three mobile-shadow-hide w-dropdown-list"
                                    id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0"><a
                                        href="https://www.matthiasvanhoutum.com/#"
                                        class="nav-dropdown-link w-dropdown-link" tabindex="0">Resource Link 1</a><a
                                        href="https://www.matthiasvanhoutum.com/#"
                                        class="nav-dropdown-link w-dropdown-link" tabindex="0">Resource Link 2</a><a
                                        href="https://www.matthiasvanhoutum.com/#"
                                        class="nav-dropdown-link w-dropdown-link" tabindex="0">Resource Link 3</a>
                                </nav>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
                    tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
    </div>
</div>