#row1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  & h1 {
    display: flex;
    margin: 20px 0 50px 0;
    font-size: 38px;
    line-height: 44px;
  }
}

#portretfoto {
  width: 900px;
  margin: 43px 0 16px 0;
}

.paragraph1 {
  margin: 0px 0px 27px 0px;
  text-align: left;
  flex-flow: column;
  margin: 2% 3%;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  line-height: 20px;
}

.para {
  margin-bottom: 1lh;
}

#paragraph2 {
  text-align: center;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0;
  margin-top: 78px;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 1024px) {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portretfoto {
    width: 600px;
    margin-top: 30px;
  }
  #paragraph1 {
    width: 550px;
  }
  #paragraph2 {
    margin-top: 168px;
  }
  #row1 {
    & h1 {
      font-size: 28px;
    }
  }
}

@media (max-width: 768px) {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portretfoto {
    width: 400px;
    margin-top: 20px;
  }
  #paragraph1 {
    width: 380px;
  }
  #paragraph2 {
    margin-top: 168px;
  }
}
@media (max-width: 480px) {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portretfoto {
    width: 85vw;
    margin-top: 20px;
  }
  #paragraph1 {
    width: 80vw;
    font-size: 13px;
    line-height: normal;
  }
  #paragraph2 {
    margin-top: 120px;
  }
  #row1 {
    & h1 {
      font-size: 23px;
    }
  }
}
