#row1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  & h1 {
    display: flex;
    margin: 20px 0 50px 0;
    font-size: 38px;
    line-height: 44px;
  }
}

#portretfoto {
  width: 900px;
  margin: 43px 0 16px 0;
}

#paragraph1 {
  margin: 0px 0px 27px 0px;
  text-align: left;
  flex-flow: column;
  margin: 2% 3%;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  line-height: 20px;
}

#paragraph2 {
  text-align: center;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0;
  margin-top: 58px;
  font-size: 14px;
  line-height: 20px;
}
