:host {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header1 {
    margin-top: 47px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
}

p {
    margin: 47px 0;
    width: 846px;
    font-size: 14px;
    line-height: 20px;
}

#paragraph1 {
    font-size: 15px;
    text-align: left;
    margin-top: 63px;
}

iframe {
    margin-top: 45px;
    width: 900px;
    height: 505.53px;
}

#iframe1 {
    margin-top: 59px;
    height: 675px;
}