<h1 id="header1">Videography</h1>
<p id="paragraph1">Videography has been a unique creative outlet for me. Immersing myself in the world of video, I was immediately drawn to its dynamic storytelling possibilities. In my films, I focus on illuminating the mundane, visible in the short film ‘De Fles.’ Today,
    I strive to continue exploring the art of videography, with a particular emphasis on light, scenery, and camera work.
</p>
<iframe id="iframe1" src="https://www.youtube.com/embed/cW605hGAc2A?si=KO7IY1UPFZJ9ukdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
<p id="paragraph2">This project was created as an unofficial music video for the band Donna Blue, I was responsible for the lighting on set. Full credits can be found in the Youtube description. We concluded the project with a screening in Amsterdam, in collaboration with
    Creature Magazine.</p>
<iframe id="iframe2" src="https://www.youtube.com/embed/VeEyDgMCBSk?si=6YH7G2CZu0nZ3_ir" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
<p id="paragraph3">In this brief film, I aimed to capture the essence of freedom that cycling embodies for me: the boundless roads stretching toward the horizon and the liberating landscapes. This project was solely made by me.</p>
<iframe id="iframe3" src="https://www.youtube.com/embed/4D9IMn6Nl3Q?si=sR5J1SrJUrpRPqww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
<p id="paragraph4">This film was created to depict the life of a bottle and the various stages it undergoes. I was responsible for the concept, rigging the camera, as well as contributing to the camera work and lighting.</p>
<iframe id="iframe4" src="https://www.youtube.com/embed/VFl5gOLmFDo?si=dPbpDsjrBQ3Q7AYP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
<p id="paragraph5">This project was created to test and experiment with the effects in premiere pro. The edit and almost all of the camera work was done by me.</p>